.footerWrapper {
    background-color: #eee;
    padding: 12px;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width:768px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            gap: 10px;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }

    .reservedtext {
        text-align: center;
    }
}