@import "../../styles/varible";

.aboutBanner {
    position: relative;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:580px) {
        min-height: 300px;
    }

    .imageWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 350px;
        @media screen and (max-width:580px) {
            min-height: 300px;
        }


        &::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, .34) 20%, rgba(0, 0, 0, .03) 100%)
        }

        img {
            object-fit: cover;
            object-position: center;
        }
    }

    .content {
        position: relative;
        z-index: 1;
        text-align: center;

        h1 {
            text-align: center;
            color: $whiteColor;
            font-size: 20px;
            letter-spacing: .6px;

            @media screen and (min-width:576px) {
                font-size: 24px;
            }

            @media screen and (min-width:768px) {
                font-size: 28px;
            }

            @media screen and (min-width:991px) {
                font-size: 32px;
            }

        }

        .contentUl {
            width: fit-content;
            margin-top: 10px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
            list-style-type: none;
            background: $primaryColor;
            border-radius: 100px;
            flex-wrap: wrap;
    justify-content: center;

            li {
                color: $whiteColor;
                display: block;
                line-height: 16px;
                font-size: 14px;

                @media screen and (min-width:576px) {
                    font-size: 16px;
                }

                a {
                    line-height: 16px;
                    display: block;
                    font-size: 14px;

                    @media screen and (min-width:576px) {
                        font-size: 16px;
                    }


                }

                svg {
                    display: block;
                }
            }
        }
    }
}