@import "../../../Common/styles/varible";
.homeBlog{
    padding: 20px 0;
  @media screen and (min-width:991px) {
    padding: 30px 0 60px;
  }
  .headingWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    .viewText{
        font-size: 16px;
        color: $blackColor;
        transition: all .25s;
        font-weight: 500;
        &:hover{
            color: $primaryColor;
            text-decoration: underline;
        }
    }
  }
    .heading {
        font-size: 24px;
        color: $blackColor;
        line-height: 32px;
        // text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        font-weight: 600;
    
        span {
          color: $primaryColor;
        }
    
        @media (min-width: 580px) {
            font-size: 22px;
            line-height: 30px;
          }
      
          @media (min-width: 992px) {
            font-size: 28px;
            line-height: 36px;
          }
      }
      .blogRow{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        .blogItem{
            max-width: calc((100%/3) - (48px/3));
            width: 100%;
            @media screen and (max-width:991px) {
              max-width: calc(100%/2 - (24px/2));
                  
              }
              @media screen and (max-width:580px) {
                  max-width: 100%;
              }
        }
      }
}